*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body{
  max-width: 1920px;
  background: rgb(0, 0, 0);
}
/* sheard style */
  .section_header{
    font-size: 48px;
    font-weight: 900;
    color: rgb(255, 255, 255); 
  }
  .content_header{
    font-size: 28px;
    font-weight: 700;
    color: rgb(255, 255, 255); 
  }
  .section_discribtion{
    font-size: 14px;
    font-weight: 400;
    margin: 18px 0;
    color: rgba(255, 255, 255, 0.5);
  }
  .text_align{
    text-align: center;
  }
 /* start header style */
 .banner{
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
 }
  /* start navber style */
.navber{
  width: 85%;
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.logo{
 font-size: 36px;
 font-weight: 800;
 font-style: italic;
 color: rgb(230, 83, 60);
}
.navber ul li{
  display: inline-block;
  margin-right: 47px;
  list-style: none;
}
.navber ul .nav_list_style {
  margin-right: 10px;
}

.nav_ul{
  padding: 8px 14px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
}

.nav_list{
 text-decoration: none;
 font-size: 18px;
 font-weight: 400;
 color: rgb(255, 255, 255);
}
.nav_frist_style{
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  padding: 8px 14px;
  color: rgb(255, 255, 255);
  background-color: rgb(230, 83, 60);
  border-radius: 46px;
}
.icon{
  display: none;
}
/* banner style start in header*/
.main_container{
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.stay_healthy{
  max-width: 520px;
}
.stay_healthy_header{
  font-size: 78px;
  font-weight: 900;
  color: rgb(255, 255, 255);
}
.stay_healthy_span{
  font-family: "Grey Qo", cursive;
  font-weight: 400;
}
.stay_healthy_discribstion{
  font-size: 16px;
  font-weight: 400;
}
.stay_btn, .banner_btn {
  max-width: 224px;
  background-color: rgb(230, 83, 60);
  font-size: 18px;
  font-weight: 600;
  padding: 16px 40px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 20px 10px;
  border-radius: 42px;
  border: 2px solid rgb(230, 83, 60);
}
.stay_btn_two{
  background-color: black;
  border: 1px solid #fff;
}
.main_container_img{
  width: 339px;
  position: relative;
}
.glass_style{
  width: 190px;
  height: 96px;
  position: absolute;
  margin-top: -170px;
  margin-left: -130px;
  padding: 20px 14px;
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(20px);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.circle{
  width: 40px;
  height: 40px;
  background-color: rgb(230, 83, 60);
  border-radius: 50%;
}
.glass_style_header{
  font-size: 25px;
  font-weight: 900;
  color: #fff;
}
.glass_style_dis{
  font-size: 12px;
  font-weight: 400;
  color: rgba(239, 237, 232, 0.65);
}
.glass_style_two{
  width: 150px;
  height: 86px;
  position: absolute;
  margin-left: 250px;
  margin-top: 135px;
  padding: 20px 14px;
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(20px);
  border-radius: 15px;
}
/* Change Your Habits section style start */
.change_habits{
  width: 85%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.change_habits_detail{
  width: 200px;
}
.change_habits_details{
  width: 100%;
  margin-top: 58px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.c_h_d_img{
  max-width: 350;
  height: 188px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.c_h_d_header{
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  color: #fff;
  text-align: center;
}
.c_h_d_discribtion{
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
/* Run an Extra Mile Easily start style */

.run_extra{
  width: 85%;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 30px;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.run_extra_child{
  max-width: 443px;
  padding: 30px;
}
.run_extra_img{
  max-width: 366px;
  height: 319px;
  border-radius: 12px;
  object-fit: none;
  object-position: 66% 32%; 
}
/* BMI Calculator section start */
.bmi_main_container{
  width: 100%;
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(20px);
}

/* bmi calculation and table section*/
.bmi_calculation{
  width: 85%;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  align-items: start;
  justify-content: space-between;

}
.bmi_calculator_chart{
  width: 35%;
}
table, th, td{
  padding: 8px;
  text-align: left;
  border-collapse: collapse;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.1)
}
 .aline_left{
  text-align: left;
}
.calculate_bmi{
  width: 55%;
}
.bmi_box{
  width: 46%;
  margin: 12px 8px;
  padding: 10px;
  outline: 0;
  border: 0;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);

}
.option_box{
  border: 0;
  outline: 0;
}
.last_bmi_box{
  width: 95.5%;
  margin: 12px 8px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.6);
  border: 0;
  outline: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
}
.bmi_calculator{
  width: 40%;
  margin: 0 auto;
  margin-bottom: 80px;
}
.bmi_table{
  margin-top: 50px;
}

/* Meet Our Team section start */

.meet_team{
 margin-top: 100px;
}
.team_details{
  width: 85%;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 20px;
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(20px);
  border-radius: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.trainer_info{
  width: 100%;
  position: relative;
}
.trainer_info img{
  width: 100%;
  height: 100%;
  border-radius: 5%;
}
.trainer_details{
  position: absolute;
  top: 74%;
  left: 20px;
}
.trainer_name{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.profession{
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

  /* footer section style start */
.footer_container{
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.fitness{
  width: 50%;
  padding-right: 50px;
}
.fitness_header{
  font-size: 70px;
}
.fitness_child_container{
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.getstarted_details{
  font-size: 20px;
  font-weight: 400;
  margin: 20px 0;
  color: rgba(255, 255, 255, 0.5);
}
.footer_discribtion{
  font-size: 18px;
  font-weight: 400;
  padding: 30px 0;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

@media screen and (max-width:576px) {

  /* banner style start in header*/
  .nav_ul{
    display: none;  
  }
  .icon{
    display: block;
    color: #fff;
    padding-right: 10px;
    font-size: 1.5rem;
  }
  .banner_btn{
    max-width: 150px;
    padding: 10px 25px;
  }
  .stay_healthy_header{
    font-size: 36px;
  }
  .meet_team,
  .change_habits{
    margin-top: 50px;
  }
  .change_habits{
    margin-bottom: 50px;
  }
  .main_container,
  .change_habits_details,
  .run_extra,
  .bmi_calculation,
  .footer_container,
  .fitness_child_container
  {
   flex-direction: column;
   margin-bottom: 0;
   gap: 20px;
   }
   .glass_style_two{
   margin-left: 180px;
   margin-top: 75px;
  }
  .glass_style{
   margin-top: -335px;
   margin-left: -10px;
  }
  /* Run an Extra Mile Easily */
  .section_header{
    font-size: 32px;
  }
  .run_extra_child{
    padding: 12px;
  }
  .run_extra_img{
    width: 92%;
    border-radius: 12px;
  }
  /* BMI Calculator section start */
  .bmi_calculator{
    width: 85%;
    margin: 20px auto;
  }
  .bmi_calculator_chart,
  .calculate_bmi{
    width: 100%;
  }
  .bmi_box{
    width: 44%;
  }
  .team_details{
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0;
    margin-bottom: 0;
  }
  /* footer style */
  .fitness{
    width: 100%;
  }
  .footer_container{
    margin-top: 50px;
    padding: 30px 0;
  }

}